body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

#index {
  background-image: url('../images/cinema.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 100vh;
}

#index #title-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
}

#index #title-wrapper #title {
  color: white;
  font-size: 55px;
}

.button {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid white;
  border-radius: 28px;
  color: cadetblue;
  text-decoration: none;
}

#movies {
  margin: 20px 40px;
}

#movies-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#movies-wrapper .movie-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  align-items: center;
}

#movies-wrapper .movie-wrapper img {
  max-height: 200px;
  max-width: 150px;
  width: auto;
}

#movies-wrapper .movie-wrapper .button {
  background-color: coral;
  color: white;
  padding: 5px 20px;
  margin-top: 5px;
}